body {
  margin: 40px 100px;
  font-family: "Segoe UI Light", sans-serif;
}
fieldset {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}
label,
input,
textarea {
  display: block;
}
legend {
  font-size: 25px;
  font-weight: bold;
}
input,
textarea {
  padding: 5px 10px;
  /*внутрішеій відступ інпута*/
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
.card input,
.card label {
  display: inline-block;
}
input:focus {
  background: #ffe;
  border: 1px solid lime;
  /* Параметры рамки */
}
textarea:focus {
  background: #ffe;
  border: 1px solid red;
}
